@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }


<!--Team contact start-->
<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:100px">
            <h1><strong>Meet Our Team</strong></h1>
        </p>
    </font>

    <!-- Contact -->
    <div class="container d-flex justify-content-center">
        <div class="row text-center">
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Danielle.JPG" alt="Danielle" style="width:220px; height:220px;">
                    <h4>Danielle Korenfeld</h4>
                    <p class="title"><strong>CEO & Founder</strong></p>
                    <p>jane@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div><br />
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Rona.JPG" alt="Rona" style="width:220px; height:220px;">
                    <h4>Rona Arabov</h4>
                    <p class="title"><strong>Personal Stylist</strong></p>
                    <p>ronaarabov2018@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div><br />
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Ofir.JPG" alt="Ofir" style="width:220px; height:220px;">
                    <h4>Ofir Mor</h4>
                    <p class="title"><strong>Art Director</strong></p>
                    <p>Ofrimor@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Danit.JPG" alt="Danit" style="width:220px; height:220px;">
                    <h4>Danit Shagan</h4>
                    <p class="title"><strong>Designer</strong></p>
                    <p>Danishagan@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>


        <div class="text-center">
            <font color="white">
                <div class="row mt-4">
                    <div class="col-md-4">
                        <h3>Address</h3>
                        <p><h6> Alenbi 1 st. Tel Aviv</h6></p>
                        <p><h6>DDROD@gmail.com</h6></p>
                        <p><h6>+972 123-456-890</h6></p>
                        <p><h6>www.facebook.com/DROD</h6></p>
                    </div>

                    <div class="col-md-4">
                        <iframe src="https://maps.google.com/maps?q=alenbi%201%20tel%20aviv&t=&z=13&ie=UTF8&iwloc=&output=embed" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </font>
        </div>
    </div>
</div>
<p style="margin-top:300px"></p>

