@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<!-- Style -->
<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Sentence-->
<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:90px">
            <h1><strong>Meet Our Team</strong></h1>
        </p>
    </font>

    <!-- Team Contact -->
    <div class="container d-flex justify-content-center">
        <div class="row text-center">
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Danielle.JPG" alt="Danielle" style="width:220px; height:220px;">
                    <h4>Danielle Korenfeld</h4>
                    <p class="title"><strong>CEO & Founder</strong></p>
                    <a href="https://www.linkedin.com/in/danielle-korenfeld-20a1a41b8/"><img src="../images/linkedin2.png" class="social-media" alt="linkedin-logo"></a><br />
                    <a href="mailto:do4335@gmail.com"><button class="button">Email Me</button></a>

                </div>
            </div><br />
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Rona.JPG" alt="Rona" style="width:220px; height:220px;">
                    <h4>Rona Arabov</h4>
                    <p class="title"><strong>Personal Stylist</strong></p>
                    <a href="https://www.linkedin.com/in/rona-arabov-b685341a0/"><img src="../images/linkedin2.png" class="social-media" alt="linkedin-logo"></a><br />
                    <a href="mailto:ronaarabov2018@gmail.com"><button class="button">Email Me</button></a>
                </div>
            </div><br />
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Ofir.JPG" alt="Ofir" style="width:220px; height:220px;">
                    <h4>Ofir Mor</h4>
                    <p class="title"><strong>Art Director</strong></p>
                    <a href="https://www.linkedin.com/in/ofir-mor-579489162/"><img src="../images/linkedin2.png" class="social-media" alt="linkedin-logo"></a><br />
                    <a href="mailto:Ofrimor@gmail.com"><button class="button">Email Me</button></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 14rem;">
                    <img src="../images/Danit.JPG" alt="Danit" style="width:220px; height:220px;">
                    <h4>Danit Shagan</h4>
                    <p class="title"><strong>Designer</strong></p>
                    <a href="https://www.linkedin.com/in/danit-shagan-62b671192/"><img src="../images/linkedin2.png" class="social-media" alt="linkedin-logo"></a><br />
                    <a href="mailto:Danishagan@gmail.com"><button class="button">Email Me</button></a>
                </div>
            </div>
            <hr />

            <!-- Google maps-->
            <div class="container d-flex justify-content-center">
                <div class="text-center">
                    <hr />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.6738948448797!2d34.770593150734946!3d31.969742531920996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b3f5eb44e1c1%3A0xfbe9b8c6bce59319!2z15TXnteh15zXldecINeU15DXp9eT157XmSDXlNee15vXnNec15Qg15zXnteZ16DXlNecIChDb2xsZWdlIG9mIE1hbmFnZW1lbnQgQWNhZGVtaWMgU3R1ZGllcyk!5e0!3m2!1sen!2sus!4v1597849798712!5m2!1sen!2sus" width="900" height="320" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                </div>
                <div class="col-sm">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-map-marker fa-4x mb-5" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">office location</h4>
                            <address>Elie Wiesel St 2, Rishon LeTsiyon</address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p style="margin-top:100px"></p>

