@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <font color="white">
        <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
        <!-- Add -->
        <p class="line-1 anim-typewriter" style="margin-top:150px">
            <strong> It's all about FASHIONN. ♡ </strong>
        </p>
    </font>
</div>

<!-- The three categories that appear on the main page -->
<div class="container d-flex justify-content-center" style="margin-top:30px">
    <div class="row text-center">
        <div class="col-sm">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5>Women's fashion</h5>
                    <a asp-area="" asp-controller="Home" asp-action="WOMEN">
                        <img src="../imgs/WomenStyle.gif" alt="Shirts" style="width:210px; height:150px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5>Men's fashion</h5>
                    <a asp-area="" asp-controller="Home" asp-action="MEN">
                        <img src="../imgs/MenStyle.gif" alt="Pants" style="width:150px; height:150px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5>Shoes</h5>
                    <a asp-area="" asp-controller="Home" asp-action="Shoes">
                        <img src="../imgs/shoe.gif" alt="Shoes" style="width:150px; height:150px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>







