@{ ViewData["Title"] = "Home Page"; }


<p style="margin-top:130px">

    <!-- The three categories that appear on the main page -->
    <div class="container d-flex justify-content-center" style="margin-top:50px">
        <div class="row text-center">
            <div class="col-sm">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5>Women's fashion</h5>
                        <a asp-area="" asp-controller="Home" asp-action="WOMEN">
                            <img src="../imgs/WomenStyle.gif" alt="Shirts" style="width:210px; height:150px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5>Men's fashion</h5>
                        <a asp-area="" asp-controller="Home" asp-action="MEN">
                            <img src="../imgs/MenStyle.gif" alt="Pants" style="width:150px; height:150px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5>Shoes</h5>
                        <a asp-area="" asp-controller="Home" asp-action="Shoes">
                            <img src="../imgs/shoe.gif" alt="Shoes" style="width:150px; height:150px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Moving sentence -->
<p style="margin-top:50px"></p>
<p class="line-1 anim-typewriter" style="color:white">
    <strong> It's all about FASHION ♡ </strong>
</p>

