@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        <div class="col-sm">
            <img src="../imgs/M1.JPEG" alt="Shirts" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M2.JPEG" alt="Pants" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M3.JPEG" alt="Shoes" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        DROD 4505 mini suit skirt and blazer<br /> <strong>ILS150.00</strong>
                    </p>
                </font>
            </div>
        </div>

        <div class="col-sm">
            <img src="../imgs/M4.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M5.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M6.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

    </div>
</div>
