@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        <!-- Sentence-->
        <div class="text-center">
            <font color="white">
                <p class="" style="margin-top:100px">
                    <h1><strong>I'm Sexy and</strong></h1>
                    <h1><strong>I know it</strong></h1>
                </p>
            </font>
        </div>

        <!-- Images -->
        <div class="col-sm">
            <img src="../imgs/M1.JPEG" alt="Shirts" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M2.JPEG" alt="Pants" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M3.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M5.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/M6.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <p style="margin-top:400px"></p>
    </div>
</div>
