@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        <div class="col-sm">
            <img src="../imgs/S1.JPEG" alt="Shirts" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        <strong>ILS150.00</strong>
                    </p>
                </font>
            </div>
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S2.JPEG" alt="Pants" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        <strong>ILS100.00</strong>
                    </p>
                </font>
            </div>
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S3.JPEG" alt="Shoes" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        <strong>ILS90.00</strong>
                    </p>
                </font>
            </div>
        </div>

        <div class="col-sm">
            <img src="../imgs/S4.JPEG" alt="Shoes" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        <strong>ILS300.00</strong>
                    </p>
                </font>
            </div>
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S5.JPEG" alt="Shoes" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        <strong>ILS150.00</strong>
                    </p>
                </font>
            </div>
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S6.JPEG" alt="Shoes" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        <strong>ILS130.00</strong>
                    </p>
                </font>
            </div>
        </div>

    </div>
</div>
