@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }


<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        <div class="col-sm">
            <img src="../imgs/S1.JPEG" alt="Shirts" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S2.JPEG" alt="Pants" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S3.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div>

        <div class="col-sm">
            <img src="../imgs/S4.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S5.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S6.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div>

    </div>
</div>


<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:50px">
            <h1><strong>You are most beautiful</strong></h1>
            <h1><strong>with the right shoes</strong></h1>
        </p>
    </font>
</div>

