@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:100px">
            <h1><strong>Style is forever</strong></h1>
        </p>
    </font>
</div>


<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        <div class="col-sm">
            <img src="../imgs/W1.JPEG" alt="Shirts" style="width:250px; height:350px;" aria-label="ASOS 4505 longline scoop neck sports bra, Price: ILS85.00">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/W2.JPEG" alt="Pants" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/W3.JPEG" alt="Shoes" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        DROD 4505 mini suit skirt and blazer<br /> <strong>ILS150.00</strong>
                    </p>
                </font>
            </div>
        </div>

        <div class="col-sm">
            <img src="../imgs/W4.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/W5.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/W6.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />


    </div>
</div>
