@*@{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>*@

@*<p>Use this page to detail your site's privacy policy.</p>*@





<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        <div class="col-sm">
            <img src="../imgs/S1.JPEG" alt="Shirts" style="width:250px; height:350px;" aria-label="ASOS 4505 longline scoop neck sports bra, Price: ILS85.00">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S2.JPEG" alt="Pants" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S3.JPEG" alt="Shoes" style="width:250px; height:350px;">
            <div>
                <font color="white">
                    <p>
                        DROD 4505 mini suit skirt and blazer <strong>ILS150.00</strong>
                    </p>
                </font>
            </div>
        </div>

        <div class="col-sm">
            <img src="../imgs/S4.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S5.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />

        <div class="col-sm">
            <img src="../imgs/S6.JPEG" alt="Shoes" style="width:250px; height:350px;">
        </div><br />


    </div>
</div>
