@model IEnumerable<DROD.Models.Items>

@{
    ViewData["Title"] = "Men";
}

<!-- Style -->
<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Sentence-->
<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:90px">
            <h1><strong>I'm Sexy and I know it</strong></h1>
        </p>
    </font>
</div>
<br />

<!-- Images -->
<div class="container d-flex justify-content-center">
    <div class="row text-center">

        @foreach (var item in Model)
        {
            <div class="col-sm">
                <img src=@Html.DisplayFor(modelItem => item.Path)
                     alt="en item"
                     style="width:220px; height:300px;">
                <br />
                <p style="color:aliceblue">
                    <strong>
                        @Html.DisplayFor(modelItem => item.ItemName) |
                        @Html.DisplayFor(modelItem => item.Price) $
                    </strong>
                </p>
            </div>
        }
    </div>
</div>

<!-- Sentence-->
<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:50px">
            <h2><strong>The Future Is Here !</strong></h2>
        </p>
    </font>
</div>

<!-- Video -->
<div class="text-center">
    <video width="700" height="380" controls>
        <source src="../images/TheFuture1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<br />
<hr />
