@model IEnumerable<DROD.Models.Items>

@{
    ViewData["Title"] = "Shoes";
}

<!-- Style -->
<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Sentence-->
<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:90px">
            <h1><strong>You are beautiful</strong></h1>
            <h1><strong>with the right shoes</strong></h1>
        </p>
    </font>
</div>

<!-- Images -->
<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        @foreach (var item in Model)
        {
            <div class="col-sm">
                <img src=@Html.DisplayFor(modelItem => item.Path)
                     alt="Shoes item"
                     style="width:220px; height:300px;">
                <br />
                <p style="color:aliceblue">
                    <strong>
                        @Html.DisplayFor(modelItem => item.ItemName) |
                        @Html.DisplayFor(modelItem => item.Price) $
                    </strong>
                    <div class="card-footer">
                        <div class="AddToCart row">
                            <a class="btn btn-outline-info col-auto mr-auto" id="detailsButton" asp-action="Details" asp-route-Id="@item.ID">
                                Details
                            </a>
                            <a class="btn btn-success AddToCart col-auto" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@item.ID">
                                Add to cart
                            </a>
                        </div>
                        <br />
                        <hr />
                    </div>
                </p>
            </div>
        }
    </div>
</div>

<!-- Sentence-->
<div class="text-center">
    <font color="white">
        <p class="" style="margin-top:50px">
            <h2><strong>Our Shoes Is The Best !</strong></h2>
        </p>
    </font>
</div>

<!-- Video -->
<div class="text-center">
    <video width="700" height="380" controls>
        <source src="../images/Shoes1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<p style="margin-top:50px"></p>

