@model IEnumerable<DROD.Models.Items>

@{
    ViewData["Title"] = "Women";
}

<!-- Images -->
<div class="container d-flex justify-content-center" style="margin-top:50px">
    <div class="row text-center">

        @foreach (var item in Model)
        {
            <div class="col-sm">
                <img
                     src=@Html.DisplayFor(modelItem => item.Path)
                     alt="Women item"
                     style="width:200px; height:300px;"
                >
                <br />
                <p style="color:aliceblue">
                    @Html.DisplayFor(modelItem => item.ItemName) ||
                    @Html.DisplayFor(modelItem => item.Price)$
                </p>
            </div>
        }

        <!-- Sentence-->
        <div class="text-center">
            <font color="white">
                <p class="" style="margin-top:100px">
                    <h1><strong>Style</strong></h1>
                    <h1><strong>is</strong></h1>
                    <h1><strong>forever</strong></h1>
                </p>
            </font>
        </div>

        <p style="margin-top:400px"></p>
    </div>
</div>

