@model DROD.Models.Users

@{
    ViewData["Title"] = "Details";
}

<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
        </div>
        <form class="user" asp-action="Login" autocomplete="off">
            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["error"]
                </div>
            }
            <div class="form-group">
                <input type="text" class="form-control form-control-user" required id="inputUsername" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" required id="inputPassword" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Login
            </button>
        </form>
        <hr>
        <div class="text-center">
            <a class="small" asp-action="Register">Create an Account!</a>
        </div>
    </div>
</div>
