@model DROD.Models.Users

@{
    ViewData["Title"] = "Login";
}

<!-- Style -->
<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Login Details-->
<div class="text-center">
    <div class="col-lg-5">
        <div class="p-1">
            <font color="white">
                <h1 class="h3 " white" mb-4">Welcome ♡</h1>
            </font>
        </div>
        <form class="user" asp-action="Login" autocomplete="off">
            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["error"]
                </div>
            }
            <div class="form-group">
                <input type="text" class="form-control form-control-user" required id="inputEmail" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" required id="inputPassword" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Login
            </button>
        </form>
        <a class="medium" asp-action="Register">Create an Account!</a>
    </div>
</div>
<br />
<hr />


<!-- Images -->
<div class="container d-flex justify-content-center">
    <div class="row text-center">

        <div class="col-sm">
            <img src="../images/image2.JPEG" alt="Shirts" style="width:220px; height:300px;">
        </div><br />

        <div class="col-sm">
            <img src="../images/image4.JPEG" alt="Pants" style="width:220px; height:300px;">
        </div><br />

        <div class="col-sm">
            <img src="../images/image1.JPEG" alt="" style="width:220px; height:300px;">
        </div>

        <div class="col-sm">
            <img src="../images/image3.JPEG" alt="" style="width:220px; height:300px;">
        </div>

        <p style="margin-top:350px"></p>
    </div>
</div>
